<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dahuaboke.mpda.bot.tools.dao.FundProductMapper">
    <resultMap id="BaseResultMap" type="com.dahuaboke.mpda.bot.tools.entity.YwjqrProduct">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="fundCode" jdbcType="VARCHAR" property="fundCode"/>
        <id column="fundFullName" jdbcType="VARCHAR" property="fundFullName"/>
        <id column="fundShortName" jdbcType="VARCHAR" property="fundShortName"/>
        <id column="quarterlyReportDate" jdbcType="VARCHAR" property="quarterlyReportDate"/>
        <id column="fundManagerName" jdbcType="VARCHAR" property="fundManagerName"/>
        <id column="managerAppointmentDate" jdbcType="VARCHAR" property="managerAppointmentDate"/>
        <id column="managerSecuritiesExperience" jdbcType="VARCHAR" property="managerSecuritiesExperience"/>
        <id column="managerDescription" jdbcType="VARCHAR" property="managerDescription"/>
        <id column="managerStartDate" jdbcType="VARCHAR" property="managerStartDate"/>
        <id column="managerSecuritiesStartDate" jdbcType="VARCHAR" property="managerSecuritiesStartDate"/>
        <id column="industryStockPortfolio" jdbcType="VARCHAR" property="industryStockPortfolio"/>
        <id column="topTenStockInvestments" jdbcType="VARCHAR" property="topTenStockInvestments"/>
        <id column="bondPortfolio" jdbcType="VARCHAR" property="bondPortfolio"/>
        <id column="nationalBondRatio" jdbcType="VARCHAR" property="nationalBondRatio"/>
        <id column="centralBankBillRatio" jdbcType="VARCHAR" property="centralBankBillRatio"/>
        <id column="financialBondRatio" jdbcType="VARCHAR" property="financialBondRatio"/>
        <id column="policyFinancialBondRatio" jdbcType="VARCHAR" property="policyFinancialBondRatio"/>
        <id column="corporateBondRatio" jdbcType="VARCHAR" property="corporateBondRatio"/>
        <id column="shortTermFinancingBillRatio" jdbcType="VARCHAR" property="shortTermFinancingBillRatio"/>
        <id column="mediumTermNoteRatio" jdbcType="VARCHAR" property="mediumTermNoteRatio"/>
        <id column="topFiveBondInvestments" jdbcType="VARCHAR" property="topFiveBondInvestments"/>
        <id column="assetComposition" jdbcType="VARCHAR" property="assetComposition"/>
        <id column="performanceComparison" jdbcType="VARCHAR" property="performanceComparison"/>
        <id column="netAssetValue" jdbcType="VARCHAR" property="netAssetValue"/>
        <id column="totalFundShares" jdbcType="VARCHAR" property="totalFundShares"/>
        <id column="fundManagerCompany" jdbcType="VARCHAR" property="fundManagerCompany"/>
        <id column="fundCustodian" jdbcType="VARCHAR" property="fundCustodian"/>
        <id column="operationMode" jdbcType="VARCHAR" property="operationMode"/>
        <id column="openFrequency" jdbcType="VARCHAR" property="openFrequency"/>
        <id column="contractEffectiveDate" jdbcType="VARCHAR" property="contractEffectiveDate"/>
        <id column="investmentObjective" jdbcType="VARCHAR" property="investmentObjective"/>
        <id column="investmentScope" jdbcType="VARCHAR" property="investmentScope"/>
        <id column="investmentStrategy" jdbcType="VARCHAR" property="investmentStrategy"/>
        <id column="performanceBenchmark" jdbcType="VARCHAR" property="performanceBenchmark"/>
        <id column="riskReturnCharacteristics" jdbcType="VARCHAR" property="riskReturnCharacteristics"/>
        <id column="purchaseFee" jdbcType="VARCHAR" property="purchaseFee"/>
        <id column="redemptionFee" jdbcType="VARCHAR" property="redemptionFee"/>
        <id column="managementFee" jdbcType="VARCHAR" property="managementFee"/>
        <id column="custodyFee" jdbcType="VARCHAR" property="custodyFee"/>
        <id column="salesServiceFee" jdbcType="VARCHAR" property="salesServiceFee"/>
        <id column="auditFee" jdbcType="VARCHAR" property="auditFee"/>
        <id column="disclosureFee" jdbcType="VARCHAR" property="disclosureFee"/>
        <id column="otherFees" jdbcType="VARCHAR" property="otherFees"/>
        <id column="totalExpenseRatio" jdbcType="VARCHAR" property="totalExpenseRatio"/>
        <id column="fundClassificationCode" jdbcType="VARCHAR" property="fundClassificationCode"/>
        <id column="fundClassificationReasonCode" jdbcType="VARCHAR" property="fundClassificationReasonCode"/>
        <id column="fundClassificationModel" jdbcType="VARCHAR" property="fundClassificationModel"/>
        <id column="fundClassificationReasonModel" jdbcType="VARCHAR" property="fundClassificationReasonModel"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        fundCode ,fundFullName ,fundShortName ,quarterlyReportDate ,fundManagerName ,managerAppointmentDate
        ,managerSecuritiesExperience ,managerDescription ,managerStartDate ,managerSecuritiesStartDate
        ,industryStockPortfolio ,topTenStockInvestments ,bondPortfolio ,nationalBondRatio ,centralBankBillRatio
        ,financialBondRatio ,policyFinancialBondRatio ,corporateBondRatio ,shortTermFinancingBillRatio
        ,mediumTermNoteRatio ,topFiveBondInvestments ,assetComposition ,performanceComparison ,netAssetValue
        ,totalFundShares ,fundManagerCompany ,fundCustodian ,operationMode ,openFrequency ,contractEffectiveDate
        ,investmentObjective ,investmentScope ,investmentStrategy ,performanceBenchmark ,riskReturnCharacteristics
        ,purchaseFee ,redemptionFee ,managementFee ,custodyFee ,salesServiceFee ,auditFee ,disclosureFee ,otherFees
        ,totalExpenseRatio ,fundClassificationCode ,fundClassificationReasonCode ,fundClassificationModel
        ,fundClassificationReasonModel
    </sql>
    <sql id="Base_Column_List_Repeat_Key">
        <!--
          WARNING - @mbg.generated
        -->
        customerid, chrem_saccno, bonusmode, accttypeflag, greenacctno,acctflag, paper_no, openorgancode
    </sql>

    <select id="selectByFundCode" parameterType="java.lang.String"
            resultType="com.dahuaboke.mpda.bot.tools.entity.YwjqrProduct">
        select
        <include refid="Base_Column_List"/>
        from ywjqr_product
        where fundCode=#{fundCode}
    </select>
    <insert id="insertEntry">
        insert into ywjqr_product(
        <include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="ywjqrProduct" item="item" separator=",">

            (#{item.fundCode}
            ,#{item.fundFullName}
            ,#{item.fundShortName}
            ,#{item.quarterlyReportDate}
            ,#{item.fundManagerName}
            ,#{item.managerAppointmentDate}
            ,#{item.managerSecuritiesExperience}
            ,#{item.managerDescription}
            ,#{item.managerStartDate}
            ,#{item.managerSecuritiesStartDate}
            ,#{item.industryStockPortfolio}
            ,#{item.topTenStockInvestments}
            ,#{item.bondPortfolio}
            ,#{item.nationalBondRatio}
            ,#{item.centralBankBillRatio}
            ,#{item.financialBondRatio}
            ,#{item.policyFinancialBondRatio}
            ,#{item.corporateBondRatio}
            ,#{item.shortTermFinancingBillRatio}
            ,#{item.mediumTermNoteRatio}
            ,#{item.topFiveBondInvestments}
            ,#{item.assetComposition}
            ,#{item.performanceComparison}
            ,#{item.netAssetValue}
            ,#{item.totalFundShares}
            ,#{item.fundManagerCompany}
            ,#{item.fundCustodian}
            ,#{item.operationMode}
            ,#{item.openFrequency}
            ,#{item.contractEffectiveDate}
            ,#{item.investmentObjective}
            ,#{item.investmentScope}
            ,#{item.investmentStrategy}
            ,#{item.performanceBenchmark}
            ,#{item.riskReturnCharacteristics}
            ,#{item.purchaseFee}
            ,#{item.redemptionFee}
            ,#{item.managementFee}
            ,#{item.custodyFee}
            ,#{item.salesServiceFee}
            ,#{item.auditFee}
            ,#{item.disclosureFee}
            ,#{item.otherFees}
            ,#{item.totalExpenseRatio}
            ,#{item.fundClassificationCode}
            ,#{item.fundClassificationReasonCode}
            ,#{item.fundClassificationModel}
            ,#{item.fundClassificationReasonModel})
        </foreach>

    </insert>

</mapper>